<!DOCTYPE html>
<html ng-app="crworlds">
<head>
	<title>Streamer</title>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<style>
		body {
			background-color: rgb(30,30,30);
			overflow: hidden;
		}
		.margin-0 {
			margin: 0;
		}

		iframe {
			border: none;
		}

		.bg-blur {
			transform: scale(1.2);
			position: absolute;
			width: 100%;
		}
		.bg-blur img {
			-webkit-filter: blur(8px);
			filter: blur(8px);
			width: 80%;
		}
		.bg-blur:after {
			content  : "";
			position : absolute;
			z-index  : 1;
			bottom   : 0;
			left     : 0;
			pointer-events   : none;
			background-image : linear-gradient(to bottom, 
							   rgba(30,30,30, 0), 
							   rgba(30,30,30, 1) 100%);
			width    : 100%;
			height   : 10vw;
		}

		.content {
			z-index: 1;
			position: relative;
		}

		.twitter-frame {
			margin-left: 0;
			overflow-y: scroll;
    		overflow-x: hidden;
		}
	</style>
</head>
<body ng-controller="MainCtrl" flex layout="column">
	<section layout="row" flex>
		<md-sidenav
			class="md-sidenav-left md-whiteframe-z2"
			md-component-id="left"
			md-is-locked-open="$mdMedia('gt-md')"
			style="width: 500px;">

			<md-content layout="row">
				<md-list>
					<md-list-item ng-repeat="player in channels" ng-click="selectPlayer($index)" aria-label="Player">
						<img class="md-avatar" ng-src="{{player.photo}}">
					</md-list-item>
				</md-list>

				<md-list>
					<md-list-item ng-repeat="video in currentPlayer.twitch.videos" ng-click="selectVideo(video)" aria-label="Video">
						<div layout="column" layout-align="start start">
							<p>{{video.title}}</p>
							<p>{{video.game}}</p>
							<img ng-src="{{video.thumbnails[0].url}}" style="width: 100%;"/>
						</div>
					</md-list-item>
				</md-list>
			</md-content>
		</md-sidenav>

		<div flex layout="column">
			<div class="bg-blur" flex="100">
				<img ng-src="{{channels[currentPlayer].cover}}"/>
			</div>

			<md-toolbar md-whiteframe="4dp">
				<div class="md-toolbar-tools" layout="row" layout-align="space-around center">
					<h2>The Megl</h2>
				</div>
			</md-toolbar>

			<div flex layout-padding layout="row" class="content">
				<div flex layout="column">
					<md-card>
						<iframe style="height: calc(35vw * 9 / 16);" ng-src="{{$sce.trustAsResourceUrl('http://player.twitch.tv/?video=' + currentVideo._id)}}"></iframe>
					</md-card>

					<md-card flex>
						<iframe flex ng-src="{{$sce.trustAsResourceUrl('http://twitch.tv/' + channels[currentPlayer].channel + '/chat')}}"></iframe>
					</md-card>
				</div>

				<div flex="35" layout="column" ng-show="$mdMedia('gt-sm')">
					<md-card flex class="twitter-frame">
						<md-card-content>
							<a class="twitter-timeline"
							   ng-href="https://twitter.com/{{channels[currentPlayer].twitter}}"
							   data-screen-name="{{channels[currentPlayer].twitter}}">
							   Tweets by {{channels[currentPlayer].twitter}}
							</a>

							<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
						</md-card-content>
					</md-card>
				</div>
			</div>
		</div>
	</section>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

	<script type="text/javascript">
		var app = angular.module('crworlds', ['ngMaterial']);

		app.service('TwitchService', ['$http', function($http) {
			this.selectPlayer = function(channel) {
				return $http({
					method: 'GET',
					url: 'https://api.twitch.tv/kraken/channels/'+channel+'/videos',
					headers: {
						'Client-ID': '5s3as3zrs8w8zqayv4ly0f99c3u9gp'
					}
				})
			};
		}]);

		app.controller('MainCtrl', ['$scope', '$sce', '$mdMedia', 'TwitchService', function($scope, $sce, $mdMedia, TwitchService) {
			$scope.$mdMedia = $mdMedia;
			$scope.$sce = $sce;
			$scope.currentPlayer = 0;
			$scope.channels = [
				{
					channel: 'enchatin',
					twitter: 'enchatin',
					photo: 'https://lh4.googleusercontent.com/-WsVeWF_0Gvs/AAAAAAAAAAI/AAAAAAACBTw/SlnXXckbFZA/s32-c-k-no/photo.jpg'
				},
				{
					channel: 'axtlol',
					twitter: 'TwitterDev',
					photo: 'https://lh4.googleusercontent.com/-WsVeWF_0Gvs/AAAAAAAAAAI/AAAAAAACBTw/SlnXXckbFZA/s32-c-k-no/photo.jpg'
				},
				{
					channel: 'kamikat',
					twitter: 'TwitterDev',
					photo: 'https://lh4.googleusercontent.com/-WsVeWF_0Gvs/AAAAAAAAAAI/AAAAAAACBTw/SlnXXckbFZA/s32-c-k-no/photo.jpg'
				},
				{
					channel: 'ogaminglol',
					twitter: 'TwitterDev',
					photo: 'https://lh4.googleusercontent.com/-WsVeWF_0Gvs/AAAAAAAAAAI/AAAAAAACBTw/SlnXXckbFZA/s32-c-k-no/photo.jpg'
				},
				{
					channel: 'magyarloltv',
					twitter: 'TwitterDev',
					photo: 'https://lh4.googleusercontent.com/-WsVeWF_0Gvs/AAAAAAAAAAI/AAAAAAACBTw/SlnXXckbFZA/s32-c-k-no/photo.jpg'
				}
			];

			$scope.selectPlayer = function(index) {
				$scope.currentPlayer = index;
				console.log($scope.people);

				twttr.widgets.createTimeline({
					sourceType: "profile",
					screenName: $scope.channels[index].twitter
				},
					document.getElementsByClassName("twitter-timeline")[0]
				);

				TwitchService.selectPlayer($scope.channels[index].channel).then(function(response) {
					// $scope.channels[index].twitch = response.data;
				});
			};

			$scope.selectVideo = function(video) {
				$scope.currentVideo = video;
			};
			
		}]);
	</script>
</body>
</html>
