<!DOCTYPE html>
<html ng-app="crworlds">
<head>
	<title>Streamer</title>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<style>
		body {
			background-color: rgb(30,30,30);
			overflow: hidden;
		}
		.margin-0 {
			margin: 0;
		}
		.padding-0 {
			padding: 0;
		}

		iframe {
			border: none;
		}

		.bg-blur {
			transform: scale(1.2);
			position: absolute;
			width: 100%;
		}
		.bg-blur img {
			-webkit-filter: blur(8px);
			filter: blur(8px);
			width: 80%;
		}
		.bg-blur:after {
			content  : "";
			position : absolute;
			z-index  : 1;
			bottom   : 0;
			left     : 0;
			pointer-events   : none;
			background-image : linear-gradient(to bottom, 
							   rgba(30,30,30, 0), 
							   rgba(30,30,30, 1) 100%);
			width    : 100%;
			height   : 10vw;
		}

		.content {
			z-index: 1;
			position: relative;
		}

		.twitter-frame {
			margin-left: 0;
			overflow-y: scroll;
    		overflow-x: hidden;
		}
	</style>
</head>
<body ng-controller="MainCtrl" flex layout="column">
	<section layout="row" flex>
		<md-sidenav
			class="md-sidenav-left md-whiteframe-z2"
			md-component-id="left"
			md-is-locked-open="$mdMedia('gt-md')"
			flex="25">

			<md-content layout="row">
				<md-list md-whiteframe="4dp" style="width: 110px; overflow: hidden;">
					<md-list-item ng-repeat="player in players" ng-click="selectPlayer($index)" aria-label="Player" style="margin: 10px 0px">
						<md-tooltip>{{player.channel}}</md-tooltip>
						<img class="md-avatar" ng-src="{{player.photo}}">
					</md-list-item>
				</md-list>

				<md-list style="overflow-y: scroll; overflow-x: hidden; background-color: rgba(0,0,0,.05);">
					<md-list-item
						ng-repeat="video in players[currentPlayer].twitch.videos"
						ng-click="selectVideo(video)"
						aria-label="Video">

						<div layout="column" layout-align="start start" style="padding: 10px 5px;">
							<p class="md-subhead margin-0">{{video.title}}</p>
							<p class="md-body-1 margin-0">{{video.game}}</p>
							<img ng-src="{{video.thumbnails[0].url}}" class="padding-0" style="width: 100%;"/>
						</div>
					</md-list-item>
				</md-list>
			</md-content>
		</md-sidenav>

		<div flex layout="column">
			<div class="bg-blur" flex="100">
				<img ng-src="{{players[currentPlayer].cover}}"/>
			</div>

			<md-toolbar md-whiteframe="4dp">
				<div class="md-toolbar-tools" layout="row" layout-align="space-around center">
					<h2>The Megl</h2>

					<md-icon md-svg-src="https://raw.githubusercontent.com/Kasimir123/themegl/master/res/svg/ic_bracket_black_24px.svg"></md-icon>
				</div>
			</md-toolbar>

			<div flex layout-padding layout="row" class="content">
				<div flex layout="column">
					<md-card>
						<iframe style="height: calc(35vw * 9 / 16);" ng-src="{{$sce.trustAsResourceUrl('http://player.twitch.tv/?video=' + currentVideo._id)}}"></iframe>
					</md-card>

					<md-card flex>
						<iframe flex ng-src="{{$sce.trustAsResourceUrl('http://twitch.tv/' + players[currentPlayer].channel + '/chat')}}"></iframe>
					</md-card>
				</div>

				<div flex="35" layout="column" ng-show="$mdMedia('gt-sm')">
					<md-card flex class="twitter-frame">
						<md-card-content>
							<a class="twitter-timeline"
							   ng-href="https://twitter.com/{{channels[currentPlayer].twitter}}"
							   data-screen-name="{{channels[currentPlayer].twitter}}"></a>

							<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
						</md-card-content>
					</md-card>
				</div>
			</div>
		</div>
	</section>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

	<script type="text/javascript">
		var app = angular.module('crworlds', ['ngMaterial']);

		app.service('TwitchService', ['$http', function($http) {
			this.selectPlayer = function(channel) {
				return $http({
					method: 'GET',
					url: 'https://api.twitch.tv/kraken/channels/'+channel+'/videos',
					headers: {
						'Client-ID': '5s3as3zrs8w8zqayv4ly0f99c3u9gp'
					}
				})
			};
		}]);

		app.controller('MainCtrl', ['$scope', '$sce', '$mdMedia', 'TwitchService', function($scope, $sce, $mdMedia, TwitchService) {
			$scope.$mdMedia = $mdMedia;
			$scope.$sce = $sce;
			$scope.currentPlayer = 0;
			$scope.players = [
				{
					channel: 'enchatin',
					twitter: 'enchatin',
					photo: 'http://i.imgur.com/0iUULGy.png',
					cover: 'http://i.imgur.com/jd7LD9B.jpg'
				},
				{
					channel: 'axtlol',
					twitter: 'TwitterDev',
					photo: 'https://static-cdn.jtvnw.net/jtv_user_pictures/enchatin-profile_image-f3f03701302e9ac4-300x300.png',
					cover: 'http://www.trendycovers.com/covers/Hand_Heart_facebook_cover_1331287340.jpg'
				},
				{
					channel: 'kamikat',
					twitter: 'TwitterDev',
					photo: 'https://lh4.googleusercontent.com/-WsVeWF_0Gvs/AAAAAAAAAAI/AAAAAAACBTw/SlnXXckbFZA/s32-c-k-no/photo.jpg',
					cover: 'https://s-media-cache-ak0.pinimg.com/originals/84/21/d1/8421d1b53991d565a0e07d0d88cc83f2.jpg'
				},
				{
					channel: 'ogaminglol',
					twitter: 'TwitterDev',
					photo: 'https://lh4.googleusercontent.com/-WsVeWF_0Gvs/AAAAAAAAAAI/AAAAAAACBTw/SlnXXckbFZA/s32-c-k-no/photo.jpg',
					cover: 'http://fbcovershub.com/media/cover-9-autumn-leaves-fb-cover-1388015466.jpg'
				},
				{
					channel: 'magyarloltv',
					twitter: 'TwitterDev',
					photo: 'https://lh4.googleusercontent.com/-WsVeWF_0Gvs/AAAAAAAAAAI/AAAAAAACBTw/SlnXXckbFZA/s32-c-k-no/photo.jpg',
					cover: 'https://s-media-cache-ak0.pinimg.com/originals/e7/f3/24/e7f324296abbce5fdee46cecfcb4bc40.jpg'
				}
			];

			$scope.selectPlayer = function(index) {
				$scope.currentPlayer = index;

				twttr.widgets.createTimeline({
					sourceType: "profile",
					screenName: $scope.players[index].twitter
				},
					document.getElementsByClassName("twitter-timeline")[0]
				);

				TwitchService.selectPlayer($scope.players[index].channel).then(function(response) {
					$scope.players[index].twitch = response.data;

					if (!$scope.currentVideo) {
						$scope.currentVideo = $scope.players[0].twitch.videos[0];
					}
				});
			};

			$scope.selectVideo = function(video) {
				$scope.currentVideo = video;
			};


			$scope.selectPlayer($scope.currentPlayer)
			
		}]);
	</script>
</body>
</html>
