<div flex layout="column" layout-align="center center">
	<img ng-src="res/svg/crworlds.svg" style="width: 20%; margin: 20px;">

	<md-button class="md-raised" ui-sref="watch()">Enter site</md-button>

	<p style="color: white; width: 80%; text-align: center; font-size: 15pt;">
		The official home of the Mobile Esports Gaming League. The exclusive company that brings you the biggest tournaments to mobile esports games. Watch, compete, collaborate, stay up to date and get everything you need from the world of professional mobile gaming right here.
	</p>
</div>